li[data-id='emlviewer'] {
    display: none !important;
}

.fade-out {
    display: none;
}

.emlviewer_email_html_content {
    width: 100%;
    min-height: 200px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
}

#emlviewer-content {
    width: 100%;
    max-width: none;
}

#emlviewer-content .close {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}
#emlviewer-content .icon-close {
    display: block;
    width: 44px;
    height: 44px;
}
span.close.icon-close::before {
    background: var(--color-background-darker);
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    z-index: -1;
    opacity: 0.3;
}
span.close.icon-close:hover::before {
    content: '';
}

.emlviewer .mail-content {
    position: relative;
    display: flex;
    height: 98%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding-left: 50px;
    padding-right: 25px;
    width: 100%;
    flex-direction: column;
}

.emlviewer .emlviewer_email_headers {
    padding: 2px 5px;
    font-size: 14px;
}
