li[data-id='emlviewer'] {
    display: none !important;
}
#app-sidebar .close {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.5;
    z-index: 1;
    width: 44px;
    height: 44px;
}
.fade-out {
	display: none;
}
#email-html-content{
    width: 100%;
    min-height: 200px;
    height: 100%;
}
#app-sidebar.emlviewer {
    position: fixed;
    /*z-index: 999999;*/
    width: 100%;
    max-width: none;
    /*top: 0;*/
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0);
}
.emlviewer .overlay {
    position: fixed;
    z-index: -1;
    max-width: none;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.91);
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
}
.emlviewer .mail-content {
    display: flex;
    height: 98%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding-left: 25px;
    padding-right: 25px;
    width: 100%;
    flex-direction: column;
}
.emlviewer #email-headers {
    padding: 2px 5px;
    font-size: 14px;
}
.emlviewer .attachment {
    margin:2px 3px;
    background: #ccc;
    border-radius: 5px;
    padding: 2px 5px;
    display: inline-block;
}
